@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.developer span {
  font-weight: 600;
  color: #FFA500;
}

.developer {
  text-align: center;
  margin-top: 15px;
}